<div class="jumbotron">
    <h1>AXA Assistance Admission Test</h1>
    <p class="lead">This is an admission test for a job application at AXA Assistance.</p>
</div>
<div class="row">
    <div class="col-md-6">
        <h2>Concept</h2>
        <p>
            This is a basic library application with 3 entities, Customer, Book and Reservation. A Customer makes
            a reservation for one or more books, and can have only one Reservation active at a time.
        </p>
    </div>
    <div class="col-md-6">
        <h2>Developed by</h2>
        <p>German Leonardo Bocanegra</p>
        <p>Systems Engineer</p>
    </div>
</div>
